@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Tektur:regular,500,600,700,800,900);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.page {
  min-width: 320px;
  overflow: hidden;
}

.container {
  max-width: 1352px;
  width: 100%;
  margin: 0 auto;
  padding: 0 36px;
}
@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.header__row {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header__row {
    flex-direction: column;
  }
}
.header .nav {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .header .nav {
    gap: 28px;
  }
}
@media (max-width: 768px) {
  .header .nav__link {
    width: 25px;
  }
}

.hero {
  position: relative;
}
.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  width: 100%;
}
@media (max-width: 768px) {
  .hero__slide {
    height: 712px;
  }
}
.hero__content {
  clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1280px) / 2);
  max-width: 624px;
  width: 100%;
  min-height: 369px;
  background-color: #F8F200;
  z-index: 10;
  padding: 70px;
  outline: 1px solid #000000;
  outline-offset: -1px;
  border-radius: 0;
}
@media (max-width: 1200px) {
  .hero__content {
    right: calc((100vw - 988px) / 2);
  }
}
@media (max-width: 1024px) {
  .hero__content {
    right: 0;
    left: 0;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 270px;
  }
}
@media (max-width: 768px) {
  .hero__content {
    bottom: -50px;
  }
}
.hero__title {
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 52px;
  padding-bottom: 25px;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 45px;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 30px;
  }
}
.hero__button {
  background-color: #000000;
  padding: 19px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 167%;
  text-align: center;
  color: #F8F200;
}
@media (max-width: 1024px) {
  .hero__button {
    font-size: 20px;
    padding-block: 10px;
  }
}

.about {
  padding: 70px 0;
}
@media (max-width: 768px) {
  .about {
    padding: 100px 0;
  }
}
.about__title {
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 52px;
  color: #000000;
  margin-bottom: 20px;
}
@media (max-width: 1024px) {
  .about__title {
    max-width: 620px;
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .about__title {
    font-size: 30px;
  }
}
.about__text strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 189%;
  color: #52BEDC;
}
.about__text {
  width: 100%;
  max-width: 952px;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #777;
  margin-bottom: 70px;
}
@media (max-width: 1024px) {
  .about__text {
    max-width: 788px;
    font-size: 16px;
  }
}
.about__images {
  display: flex;
  gap: 32px;
  clip-path: polygon(50px 0, 100% 0, 100% calc(100% - 50px), calc(100% - 50px) 100%, 0 100%, 0 50px);
}
@media (max-width: 1024px) {
  .about__images {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 32px;
    align-items: stretch;
  }
}
.about__images:first-child {
  grid-column: 1;
  grid-row: 1;
}
.about__images:last-child {
  grid-column: 2;
  grid-row: 1/3;
}
@media (max-width: 480px) {
  .about__images {
    gap: 26px;
  }
}
.about__images-col-left {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .about__images-col-left {
    flex-direction: row;
  }
}
@media (max-width: 480px) {
  .about__images-col-left {
    flex-direction: column;
    gap: 26px;
  }
}
.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.action {
  background-color: #000000;
}
.action__background-top {
  max-width: 1920px;
}
.action__background-down {
  max-width: 1920px;
  margin-bottom: -5px;
}
.action__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 32px;
  padding-bottom: 70px;
}
@media (max-width: 480px) {
  .action__container {
    grid-template-columns: 1fr;
  }
}
.action__content-text {
  grid-column: 1/3;
  grid-row: 1;
}
@media (max-width: 1024px) {
  .action__content-text {
    grid-column: 1;
    grid-row: 1;
  }
}
@media (max-width: 480px) {
  .action__content-text {
    grid-column: 1;
    grid-row: 2;
  }
}
.action__title {
  position: relative;
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: #FFFFFF;
  margin-bottom: 39px;
}
.action__title::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 27px;
  margin-right: 32px;
  width: 132px;
  height: 132px;
  background: url(../img/action/action.svg);
  margin-right: 32px;
}
@media (max-width: 1024px) {
  .action__title::before {
    margin-bottom: 30px;
    margin-right: 193px;
  }
}
@media (max-width: 480px) {
  .action__title::before {
    margin-right: 234px;
  }
}
.action__title::before {
  margin-right: 234px;
}
@media (max-width: 480px) {
  .action__title::before {
    top: -220px;
  }
}
@media (max-width: 1024px) {
  .action__title {
    font-size: 45px;
    margin-bottom: 25px;
  }
}
@media (max-width: 768px) {
  .action__title {
    font-size: 30px;
    margin-bottom: 25px;
  }
}
.action__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #fff;
  width: 100%;
  max-width: 952px;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .action__text {
    font-size: 16px;
  }
}
.action__text strong {
  font-weight: 700;
  color: #52BEDC;
}
@media (max-width: 1024px) {
  .action__content-form {
    grid-column: 1;
    grid-row: 2;
  }
}
@media (max-width: 480px) {
  .action__content-form {
    grid-column: 1;
    grid-row: 3;
  }
}
@media (max-width: 1024px) {
  .action__image {
    grid-column: 2;
    grid-row: 1/3;
    align-content: center;
  }
}
@media (max-width: 480px) {
  .action__image {
    grid-column: 1;
    grid-row: 1;
  }
}
.action__tablet, .action__mobi {
  display: none;
}
.action__upload-form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.action__upload-form input[type=text], .action__upload-form input[type=email] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #777;
  padding: 13px 0;
  color: #FFFFFF;
  transition: border-color 0.3s;
}
.action__upload-form input[type=text]::placeholder, .action__upload-form input[type=email]::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .action__upload-form input[type=text]::placeholder, .action__upload-form input[type=email]::placeholder {
    font-size: 16px;
  }
}
.action__upload-form input:focus {
  border-color: #FBF503;
  outline: none;
}
.action__file-upload {
  position: relative;
}
.action__file-upload input[type=file] {
  display: none;
  opacity: 0;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.action__file-upload label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 39px 135px;
  border: 2px dashed #777;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
}
.action__file-upload label:hover {
  border-color: #FBF503;
}
.action__file-text {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
  margin-bottom: 7px;
}
@media (max-width: 1024px) {
  .action__file-text {
    font-size: 16px;
  }
}
.action__file-format {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #FFFFFF;
}
.action__btn {
  background: #FBF503;
  color: #FBF503;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  border: none;
  padding: 19px 50px;
  cursor: pointer;
  transition: background 0.3s;
  max-width: 192px;
}
@media (max-width: 1024px) {
  .action__btn {
    font-size: 16px;
  }
}
.action__checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.action__checkbox input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border: 1px solid #777;
  background-color: #FBF503;
  cursor: pointer;
  position: relative;
  transition: all 0.25s ease;
}
.action__checkbox input[type=checkbox]:hover {
  border-color: #FBF503;
}
.action__checkbox input[type=checkbox]:checked {
  background-color: #000000;
  border-color: #777;
}
.action__checkbox input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 0;
  left: 4px;
  width: 5px;
  height: 10px;
  border: solid #FBF503;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.action__checkbox label {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .action__desc, .action__mobi {
    display: none;
  }
  .action__tablet {
    display: block;
  }
}
@media (max-width: 480px) {
  .action__desc, .action__tablet {
    display: none;
  }
  .action__mobi {
    display: block;
    padding: 70px 0 0;
    width: 100%;
    max-width: 296px;
  }
}

.promo {
  background-color: #FBF503;
  padding: 70px 0;
}
.promo__content {
  display: flex;
  gap: 32px;
}
@media (max-width: 480px) {
  .promo__content {
    flex-direction: column;
  }
}
.promo__images {
  display: flex;
  gap: 26px;
  flex-direction: column;
}
.promo__monitor img {
  width: 100%;
  max-width: 624px;
  margin-bottom: 26px;
}
.promo__logo img {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
}
.promo .tablet-logo {
  display: none;
}
@media (max-width: 1024px) {
  .promo .tablet-logo {
    display: block;
    max-width: 320px;
  }
}
.promo__content-texts {
  max-width: 50%;
}
@media (max-width: 480px) {
  .promo__content-texts {
    max-width: 100%;
  }
}
.promo__title {
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #000000;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .promo__title {
    font-size: 45px;
  }
}
@media (max-width: 768px) {
  .promo__title {
    font-size: 30px;
  }
}
.promo__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 189%;
  color: #000000;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .promo__text {
    font-size: 16px;
  }
}
.promo__list-items {
  margin-bottom: 40px;
}
.promo__list-item {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-bottom: 15px;
  justify-content: start;
  align-items: center;
}
.promo__list-item:first-child::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/promo/colors.svg);
  margin-right: 10px;
}
.promo__list-item:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/promo/crystals.svg);
  margin-right: 10px;
}
.promo__list-item:last-child::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/promo/gameplay.svg);
  margin-right: 10px;
}
.promo__btn {
  background-color: #000000;
  padding: 19px 50px;
}
.promo .button-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #FBF503;
}
@media (max-width: 1024px) {
  .promo .button-btn {
    font-size: 16px;
  }
}
@media (max-width: 1024px) {
  .promo .desk-logo {
    display: none;
  }
  .promo__list-item {
    font-size: 16px;
  }
}

.propose {
  background-color: #000000;
}
.propose__content {
  display: flex;
  gap: 32px;
}
@media (max-width: 480px) {
  .propose__content {
    flex-direction: column;
  }
}
.propose__image {
  width: 50%;
  max-width: 944px;
}
@media (max-width: 480px) {
  .propose__image {
    width: 100%;
  }
}
.propose__content-texts {
  padding: 50px 0;
  width: 50%;
}
@media (max-width: 480px) {
  .propose__content-texts {
    padding: 50px 10px;
    width: 100%;
  }
}
.propose__title {
  font-family: "Tektur", sans-serif;
  font-weight: 400;
  font-size: 56px;
  color: #FFFFFF;
  max-width: 624px;
  margin-bottom: 25px;
}
@media (max-width: 1024px) {
  .propose__title {
    font-size: 45px;
  }
}
.propose__list-items-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #52BEDC;
  margin-bottom: 15px;
}
@media (max-width: 1024px) {
  .propose__list-items-title {
    font-size: 20px;
  }
}
.propose__image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.propose__list-items {
  margin-bottom: 70px;
}
.propose__list-item {
  position: relative;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 15px;
  justify-content: start;
  align-items: center;
}
.propose__list-item:first-child::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/propose/cd.svg);
  margin-right: 10px;
}
.propose__list-item:nth-child(2)::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/propose/box.svg);
  margin-right: 10px;
}
.propose__list-item:last-child::before {
  content: "";
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../img/propose/img.svg);
  margin-right: 10px;
}
.propose__logos-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #52BEDC;
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .propose__logos-title {
    font-size: 20px;
  }
}
.propose__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  max-width: 319px;
}
@media (max-width: 1024px) {
  .propose__list-item {
    font-size: 16px;
  }
}
.propose__logo:first-child, .propose__logo:nth-child(3) {
  max-width: 58px;
}

.footer__content {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    justify-content: center;
    padding: 40px 40px 25px;
  }
}
.footer__logos {
  display: flex;
  gap: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  padding: 20px 0;
}
@media (max-width: 768px) {
  .footer__logos {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
.footer__text {
  display: flex;
  gap: 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
@media (max-width: 768px) {
  .footer__text {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.footer__project {
  max-width: 172px;
}
.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  padding: 13px 0;
}
@media (max-width: 1024px) {
  .footer__text {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
