//abstracts

@import './abstracts/vars';
@import './abstracts/settings';
@import './abstracts/mixin';
@import './abstracts/fonts';

//components

@import './components/header';
@import './components/hero';
@import './components/about';
@import './components/action';
@import './components/promo';
@import './components/propose';
@import './components/footer';

