.about {
    padding: 70px 0;

    @media (max-width: 768px) {
        padding: 100px 0;
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 52px;
        color: $dark;
        margin-bottom: 20px;

        @media (max-width: 1024px) {
            max-width: 620px;
            font-size: 45px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    &__text strong {
        font-weight: 700;
        font-size: 18px;
        line-height: 189%;
        color: $turq;
    }

    &__text {
        width: 100%;
        max-width: 952px;
        font-weight: 400;
        font-size: 18px;
        line-height: 189%;
        color: $gray;
        margin-bottom: 70px;

        @media (max-width: 1024px) {
            max-width: 788px;
            font-size: 16px;
        }
    }

    &__images {
        @include flex-col;
        @include image-pol;

        @media (max-width: 1024px) {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            gap: 32px;
            align-items: stretch;
        }

        &:first-child {
            grid-column: 1;
            grid-row: 1;
        }

        &:last-child {
            grid-column: 2;
            grid-row: 1 / 3;
        }

        @media (max-width: 480px) {
            gap: 26px;
        }
    }

    &__images-col-left {
        @include flex-col;
        flex-direction: column;

        @media (max-width: 1024px) {
            flex-direction: row;
        }

        @media (max-width: 480px) {
            flex-direction: column;
            gap: 26px;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}