.footer {

  &__content {
    @include flex-c-btw;

    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      padding: 40px 40px 25px;
    }
  }

  &__logos {
    @include flex-col;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    color: $dark;
    padding: 20px 0;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }

  &__text {
    @include flex-col;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    color: $dark;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
  }

  &__project {
    max-width: 172px;
  }

  &__copyright {
    font-family: $font-family;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: $light;
    background-color: $dark;
    text-align: center;
    padding: 13px 0;
  }

  @media (max-width: 1024px) {
    &__text {
      font-size: 16px;
      text-align: center;
    }
  }

}