.header {
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  &__row {
    @include flex-c-btw(15px);

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .nav {
    @include flex-c-btw(40px);

    @media (max-width: 768px) {
      gap: 28px;
    }

    &__link {
      @media (max-width: 768px) {
        width: 25px;
      }
    }
  }
}