.hero {
    position: relative;

    &__slide {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 1000px;
        width: 100%;

        @media (max-width: 768px) {
            height: 712px;
        }
    }

    &__content {
        @include image-pol;
        position: absolute;
        bottom: 0;
        right: calc((100vw - 1280px) / 2);
        max-width: 624px;
        width: 100%;
        min-height: 369px;
        background-color: $dark-yell;
        z-index: 10;
        padding: 70px;
        outline: 1px solid $dark;
        outline-offset: -1px;
        border-radius: 0;

        @media (max-width: 1200px) {
            right: calc((100vw - 988px) / 2);
        }

        @media (max-width: 1024px) {
            right: 0;
            left: 0;
            max-width: 100%;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 270px;
        }

        @media (max-width: 768px) {
            bottom: -50px;
        }
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 52px;
        padding-bottom: 25px;

        @media (max-width: 1024px) {
            font-size: 30px;
            text-align: center;
        }
    }

    &__button {
        background-color: $dark;
        padding: 19px 50px;
        font-weight: 700;
        font-size: 22px;
        line-height: 167%;
        text-align: center;
        color: $dark-yell;

        @media (max-width: 1024px) {
            font-size: 20px;
            padding-block: 10px;
        }
    }

}