// .hero {
//   position: relative;
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
//   text-align: center;

//   &__sliders-wrapper {
//     position: absolute;
//     inset: 0;
//   }

//   &__slide {
//     position: absolute;
//     inset: 0;
//     background-size: cover;
//     background-position: center;
//     opacity: 0;
//     transition: opacity 1.5s ease-in-out;
//   }

//   &__slide.active {
//     opacity: 1;
//   }

//   &__content {
//     position: absolute;
//     background-color: #F8F200;
//     border: 1px solid #000;
//     z-index: 10;
//     text-align: left;
//     top: 29.5%;
//     right: 25%;
//     width: 100%;
//     max-width: 642px;
//     height: 369px;
//     clip-path: polygon(30px 0,
//         100% 0,
//         100% calc(100% - 30px),
//         calc(100% - 30px) 100%,
//         0 100%,
//         0 30px);
//     padding: 70px 70px 80px;
//   }

//   &__title {
//     font-family: 'Oxanium', sans-serif;
//     font-weight: 400;
//     font-size: 42px;
//     color: #000;
//     margin-bottom: 25px;
//   }

//   &__button {
//     background-color: #000;
//     padding: 19px 50px;
//     margin-bottom: 70px;
//   }

//   .button-btn {
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 167%;
//     text-align: center;
//     color: #f8f200;
//   }

// }

.hero {
  position: relative;

  &__slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1000px;
    width: 100%;
  }

  &__content {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1280px) / 2);
    max-width: 624px;
    width: 100%;
    min-height: 369px;
    background-color: #f8f200;
    z-index: 10;
    padding: 70px
  }

  &__title {
    font-family:'Oxanium', sans-serif;
  }
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}