.propose {
    background-color: $dark;

    &__content {
        @include flex-col($gap: 32px);
    }

    &__image {
        width: 944px;
        height: 717px;
        background: url(../img/propose/games-img.jpg);
    }

    &__content-texts {
        padding: 50px 0;
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 62px;
        color: $light;
        max-width: 624px;
        margin-bottom: 25px;
    }

    &__list-items-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        color: $turq;
        margin-bottom: 15px;
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &__list-items {
        margin-bottom: 70px;
    }

    &__list-item {
        position: relative;
        display: flex;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: $light;
        margin-bottom: 15px;
        justify-content: start;
        align-items: center;

        &:first-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/cd.svg);
            margin-right: 10px;
        }

        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/box.svg);
            margin-right: 10px;
        }

        &:last-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/img.svg);
            margin-right: 10px;
        }
    }

    &__logos-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        color: $turq;
        margin-bottom: 24px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        max-width: 319px;
    }

    @media (max-width: 1024px) {
        &__image {
            width: 322px;
            height: 717px;
            background: url(../img/propose/tablet/games-img.jpg);
        }
    }
}