.propose {
    background-color: $dark;

    &__content {
        @include flex-col($gap: 32px);

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__image {
        width: 50%;
        max-width: 944px;

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    &__content-texts {
        padding: 50px 0;
        width: 50%;

        @media (max-width: 480px) {
            padding: 50px 10px;
            width: 100%;
        }
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 62px;
        color: $light;
        max-width: 624px;
        margin-bottom: 25px;

        @media (max-width: 1024px) {
            font-size: 62px;
        }

        @media (max-width: 768px) {
            font-size: 40px;
        }

        @media (max-width: 480px) {
            font-size: 30px;
        }
    }

    &__list-items-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        color: $turq;
        margin-bottom: 15px;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &__image img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &__list-items {
        margin-bottom: 70px;
    }

    &__list-item {
        position: relative;
        display: flex;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: $light;
        margin-bottom: 15px;
        justify-content: start;
        align-items: center;

        &:first-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/cd.svg);
            margin-right: 10px;
        }

        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/box.svg);
            margin-right: 10px;
        }

        &:last-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/propose/img.svg);
            margin-right: 10px;
        }
    }

    &__logos-title {
        font-family: $font-family;
        font-weight: 700;
        font-size: 24px;
        color: $turq;
        margin-bottom: 24px;

        @media (max-width: 1024px) {
            font-size: 20px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 40px;
        max-width: 319px;
    }

    @media (max-width: 1024px) {
        &__list-item {
            font-size: 16px;
        }
    }

    &__logo {

        &:first-child,
        &:nth-child(3) {
            max-width: 58px;
        }
    }
}