.promo {
    background-color: $yell;
    padding: 70px 0;

    &__content {
        @include flex-col($gap: 32px);

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__images {
        @include flex-col($gap: 26px);
        flex-direction: column;
    }

    .image-monitor {
        width: 624px;
        height: 430px;
        background: url(../img/promo/monitor.png);

        @media (max-width: 1024px) {
            width: 460px;
            height: 317px;
            background: url(../img/promo/tablet/monitor.png);
        }
    }

    .image-logo {
        width: 540px;
        height: 80px;
        background: url(../img/promo/promo-logo.svg);
        margin: auto;

        @media (max-width: 1024px) {
            width: 320px;
            height: 230px;
            background: url(../img/promo/tablet/promo-logo.svg);
            margin: auto;
        }
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 60px;
        color: $dark;
        margin-bottom: 25px;

        @media (max-width: 480px) {
            font-size: 27px;
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 189%;
        color: $dark;
        margin-bottom: 25px;

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }

    &__list-items {
        @media (max-width: 480px) {
            margin-bottom: 40px;
        }
    }

    &__list-item {
        display: flex;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: $dark;
        margin-bottom: 15px;
        justify-content: start;
        align-items: center;

        &:first-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/colors.svg);
            margin-right: 10px;
        }

        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/crystals.svg);
            margin-right: 10px;
        }

        &:last-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/gameplay.svg);
            margin-right: 10px;

            @media (max-width: 480px) {
                font-size: 16px;
            }
        }

        @media (max-width: 480px) {
            font-size: 16px;
        }
    }

    &__btn {
        background-color: $dark;
        padding: 19px 50px;
    }

    .button-btn {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        color: $yell;
    }
}