.promo {
    background-color: $yell;
    padding: 70px 0;

    &__content {
        @include flex-col($gap: 32px);

        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    &__images {
        @include flex-col($gap: 26px);
        flex-direction: column;
    }

    &__monitor img {
        width: 100%;
        max-width: 624px;
        margin-bottom: 26px;
    }

    &__logo img {
        width: 100%;
        max-width: 540px;
        margin: 0 auto;
    }

    .tablet-logo {
        display: none;

        @media (max-width: 1024px) {
            display: block;
            max-width: 320px;
        }
    }

    &__content-texts {
        max-width: 50%;
    }

    &__title {
        font-family: $second-family;
        font-weight: 400;
        font-size: 60px;
        color: $dark;
        margin-bottom: 25px;

        @media (max-width: 1024px) {
            font-size: 45px;
        }

        @media (max-width: 768px) {
            font-size: 30px;
        }
    }

    &__text {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 189%;
        color: $dark;
        margin-bottom: 25px;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }

    &__list-items {
        margin-bottom: 40px;
    }

    &__list-item {
        display: flex;
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        color: $dark;
        margin-bottom: 15px;
        justify-content: start;
        align-items: center;

        &:first-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/colors.svg);
            margin-right: 10px;
        }

        &:nth-child(2)::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/crystals.svg);
            margin-right: 10px;
        }

        &:last-child::before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            background: url(../img/promo/gameplay.svg);
            margin-right: 10px;

        }
    }

    &__btn {
        background-color: $dark;
        padding: 19px 50px;
    }

    .button-btn {
        font-family: $font-family;
        font-weight: 700;
        font-size: 18px;
        color: $yell;

        @media (max-width: 1024px) {
            font-size: 16px;
        }
    }

    @media (max-width: 1024px) {
        .desk-logo {
            display: none;
        }

        &__list-item {
            font-size: 16px;
        }
    }
}