@font-face {
  font-family: 'Archangelsk';
  font-weight: 400;
  src: url(../fonts/Archangelsk-Regular.woff2) format("woff2");
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');