*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Oxanium', sans-serif;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul,
li {
  list-style: none;
}

.page {
  min-width: 320px;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}