*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
}

ul,
li {
  list-style: none;
}

.page {
  min-width: 320px;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 988px;
  }
}